<!--basic stylesheet-->
<link rel="stylesheet" href="{{site.baseurl}}/styles/styles.css">
<!--icon font-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/fontawsome.css">
<!--get the images to enlarge-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/jquery.fancybox.css">
{%- if site.data.settings.gridlayout -%}
<!--grid stylesheet-->
<link rel="stylesheet" href="{{site.baseurl}}/styles/gridlayout.css">
{%- endif -%}
{%- if {page.layout} == 'home' -%}
<!--grid stylesheet-->
<link rel="stylesheet" href="{{site.baseurl}}/styles/gridlayout.css">
{%- endif -%}
<!--typography stylesheet-->
<link rel="stylesheet" href="{{site.baseurl}}/styles/typography.css">

<!-- these styles are added from the typography Settings -->
{%- if site.data.typography.userselection -%}


{%- if site.data.typography.body == "Roboto Slab" -%}
<style>
body {
    font-family: 'Roboto Slab', Georgia, serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.body == "Source Serif Pro" -%}
<style>
body {
    font-family: "Source Serif Pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.body == "Source Sans Pro" -%}
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap" rel="stylesheet">
<style>
body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.body == "Josefin Sans" -%}
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">
<style>
body {
    font-family: "Josefin Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.body == "Alegreya" -%}
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
<style>
body {
    font-family: 'Alegreya', Georgia, serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.body == "Montserrat" -%}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap" rel="stylesheet">
<style>
body {
    font-family: 'Montserrat', "Trebuchet MS", Helvetica, Arial, sans-serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.body == "Libre Baskerville" -%}
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<style>
body {
    font-family: 'Libre Baskerville', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
</style>
{%- endif -%}


<!-- headings -->

{%- if site.data.typography.headings == "Source Sans Pro" -%}
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap" rel="stylesheet">
<style>
h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.headings == "Source Serif Pro" -%}
<style>
h1, h2, h3, h4, h5, h6 {
    font-family: "Source Serif Pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.headings == "Josefin Sans" -%}
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">
<style>
h1, h2, h3, h4, h5, h6 {
font-family: "Josefin Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.headings == "Roboto Slab" -%}
<style>
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', Georgia, serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.headings == "Alegreya" -%}
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
<style>
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', Georgia, serif;
    font-weight: 700;
}
</style>
{%- endif -%}

{%- if site.data.typography.headings == "Bevan" -%}
<link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
<style>
h1, h2 {
    font-family: 'Bevan', Impact, serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.headings == "Montserrat" -%}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap" rel="stylesheet">
<style>
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', "Trebuchet MS", Helvetica, Arial, sans-serif;
}
</style>
{%- endif -%}

{%- if site.data.typography.headings == "Libre Baskerville" -%}
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<style>
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
</style>
{%- endif -%}

{%- endif -%}

<!-- navbar fixed or not? -->
{%- if site.data.settings.fixednavbar -%}
<style>
body {
padding-top:55px;
}

.site-header {
position:fixed;
}
</style>
{%- endif -%}
