/* ---- General Styles ---- */
body {
	margin: 0px;
	text-align: center;
	font-family: "Georgia"
	font-weight: 400;
}

.introduction_section {
	height: 500px;
	width: 100%;
	background-image: url("../img/sunsetwest.JPG");
	background-size: cover;
}

/* Profile Picture */
.profile_picture_circle {
	padding-top: 70px;
}

.profile_picture {
	background-image: url("../img/yas_profile.jpg");
	background-position: center;
	width: 210px;
	height: 210px;
	border: #2e90aa 8px solid;
	border-radius: 50%;
	background-size: 105%;

	margin-right: auto;
	margin-left: auto;
}


.hello_title {
	color: white;
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.hello_subtitle {
	color: orange;
	text-align: center;
	font-size: 19px;
	margin-top: 0px;
}

.social_icon {
	margin: 5px;
}

.social_icon img {
	width: 30px;
}

.social_icon:hover {
	opacity: 0.5;
}


.few_things_banner {
	background-color: #2e90aa;
}

.few_things_text {
	color: white;
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 15px;
}

.facts {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.facts h1 {
	text-align: center;
	color: #38889e
}

.facts p {
	text-align: center;
	color: #515151;
	font-size: 28px;
	font-weight: 400;
	line-height: 45px;
	padding-bottom: 20px;

	max-width: 900px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: : 0px;
}

.highlight {
	color: #2e90aa;
	font-weight: 500;
	margin-top: 0px;
	padding-top: 0px;
}

.fact_link {
	color: #2e90aa;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 3px solid #2e90aa;
	padding: 0px 2px 0px 2px;
}

.fact_link:hover {
	color: white;
	background-color: #2e90aa;
	padding: 0px 2px 0px 2px;
}


.familypic {
	max-width: 500px;
	border: #2e90aa solid 10px;

	display: block;
	margin: 20px auto 0 auto;
}

.poloteam_image{
	max-width: 500px;
	border: #2e90aa solid 10px;

	display: block;
	margin: 20px auto 0 auto;
	margin-bottom: 0px;
}

.cookingimage{
	max-width: 500px;
	border: #2e90aa solid 10px;

	display: block;
	margin: 20px auto 0 auto;
	margin-bottom: 0px;
}

.booklist {
	font-family: "Georgia"
	text-align: center;
	color: #515151;
	font-size: 25px;
	font-weight: 300;
	list-style-type: none;
	line-height: 45px;

	padding: 0;
	padding-bottom: 30px;
	margin: 0;
	padding-top: 20px;
	margin-top: -80px;
}

.boxed{
	border: 3px solid #515151;
	background-color: #f7f5f0;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 70px;
}

.boxed h2{
	font-size: 30px;
	color: #515151;
}

.boxed p{
	font-size: 25px;
	line-height: 5px;
	text-align: left;
	padding-left: 25px;
}

.tell_me_section {
	background-color: #2e90aa;
	width: 100%;
}

.tell_me_link {
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 300;
	line-height: 55px;

	padding: 0px;
	margin: auto;
	padding-bottom: 25px;
	padding-top: 25px;
}

.tell_me_link a {
	color: white;
	text-decoration: none;
	border: white 3px solid;
	border-radius: 5px;

	padding: 10px 20px 10px 20px;
}

.tell_me_link a:hover {
	color: #2e90aa;
	background-color: white;
	text-decoration: none;
	border: white 3px solid;
	border-radius: 5px;

	padding: 10px 20px 10px 20px;
}
