---
layout: default
---

<main class="home">

{%- if site.data.settings.header_feature_image -%}

<article id="page-content" class="feature-image">
  <header id="main" style="text-shadow: 0px 0px 10px rgba(0,0,0,0.9) !important; background-image: url('{{ site.data.settings.header_feature_image | relative_url }}');">
  {%- if site.data.settings.header_text -%}
    <h1> {{ site.data.settings.header_text }} </h1>
  {%- endif -%}
</header>
</article>
{%- endif -%}

{%- include blog.html -%}

</main>
